.info-window {
  padding-top: 1rem;
  .btn-more {
    font-size: 1.2rem;
    padding-left: 0px;
  }
}

.place-detail {
  .reviews {
    height: 90vh;
    overflow: auto;
  }
  .heading {
    height: 4rem;
    display: flex;

    h1 {
      font-weight: 600;
    }
  }

  .photos {
    .carousel-item {
      img {
        height: 60vh;
      }
    }
  }
}
.review-container {
  background-color: $color-grey-light-1;
  padding: 1.5rem;
  .review-form {
    .form-control {
      font-size: 1.3rem;
    }
  }
}
