.main-container {
}

.header {
}
.content {
  display: flex;
}

.map {
  flex: 1;
}

.sidebar {
  flex: 0 0 25rem;

  border-left: 0.1rem solid $color-grey-light-4;
  background-color: $color-grey-light-1;
  height: 90vh;
  overflow: auto;

  .place-link {
    text-decoration: none;
    color: $color-grey-dark-1;
  }
}
