.main-container {
  min-height: 100vh;
}
.navbar {
  height: 10vh;

  & a {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: $color-grey-light-1;
  }
}

.navbar-brand {
  & img {
    width: 5rem;
    height: 5rem;
  }
}
.navbar-1 {
  background-color: $main-yellow-color;
  min-width: 76%;
}
.navbar-2 {
  background-color: $main-green-color;
  width: 100%;
  color: $color-grey-light-1;
  font-weight: 600;

  @media only screen and (min-width: 48em) {
    width: 24%;
  }
}
.content {
  // display: flex;
  height: 90vh;
}

.map {
  min-height: 80vh;
  min-width: 76%;

  @media only screen and (min-width: 48em) {
    min-height: 90vh;
  }
}

.sidebar {
  width: 100%;
  max-height: 90vh;
  overflow: auto;
  border-left: 0.1rem solid $color-grey-light-4;
  background-color: $color-grey-light-1;

  .place-link {
    text-decoration: none;
    color: $color-grey-dark-1;
  }

  @media only screen and (min-width: 48em) {
    width: 24%;
  }
}
