.content {
  display: flex; }

.map {
  flex: 1; }

.sidebar {
  flex: 0 0 25rem;
  border-left: 0.1rem solid #ccc;
  background-color: #faf9f9;
  height: 90vh;
  overflow: auto; }
  .sidebar .place-link {
    text-decoration: none;
    color: #333; }

.info-window .btn-more {
  font-size: 1.2rem;
  padding-left: 0px; }

.place-detail .reviews {
  height: 90vh;
  overflow: auto; }

.place-detail .heading {
  height: 4rem;
  display: flex; }
  .place-detail .heading h1 {
    font-weight: 600; }

.place-detail .photos .carousel-item img {
  height: 60vh; }

.review-container {
  background-color: #faf9f9;
  padding: 1.5rem; }
  .review-container .review-form .form-control {
    font-size: 1.3rem; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh; }

.btn-rr {
  background-color: #e6db07;
  border-color: #e6db07;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem; }
  .btn-rr:hover, .btn-rr:focus, .btn-rr:active {
    color: white; }

.btn-toggle {
  font-size: 1.2rem; }
  .btn-toggle:hover, .btn-toggle:focus, .btn-toggle:active {
    text-decoration: none; }

.error-modal-content {
  max-width: 30rem;
  margin-top: 3rem;
  padding: 0 1rem; }
  .error-modal-content h2 {
    color: red; }
